USE [arackıralama]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[adminkul] [nvarchar](50) NOT NULL,
	[adminsifre] [nvarchar](50) NOT NULL,
	[adminadi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[arac]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arac](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](10) NOT NULL,
	[marka] [int] NOT NULL,
	[seri] [int] NOT NULL,
	[model] [int] NOT NULL,
	[renk] [int] NOT NULL,
	[kira] [decimal](18, 0) NOT NULL,
	[durumu] [nvarchar](50) NOT NULL,
	[tarih] [nvarchar](50) NOT NULL,
	[resim] [nvarchar](256) NOT NULL,
	[yakıt] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_arac] PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[IlceID] [int] IDENTITY(1,1) NOT NULL,
	[IlID] [int] NULL,
	[Ilce] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Iller]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[IlID] [int] IDENTITY(1,1) NOT NULL,
	[Il] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[markalar]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markalar](
	[marka_id] [int] IDENTITY(1,1) NOT NULL,
	[markaadi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TBLMARKA] PRIMARY KEY CLUSTERED 
(
	[marka_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[modelyil]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelyil](
	[model_id] [nvarchar](50) NOT NULL,
	[modelyil] [int] NOT NULL,
 CONSTRAINT [PK_modelyil] PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[müsteri]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[müsteri](
	[müsteri_id] [int] IDENTITY(1,1) NOT NULL,
	[tcno] [decimal](11, 0) NOT NULL,
	[adsoyad] [nvarchar](50) NOT NULL,
	[telefon] [decimal](11, 0) NOT NULL,
	[il] [int] NOT NULL,
	[ilce] [int] NOT NULL,
	[adres] [nvarchar](70) NOT NULL,
	[ehliyetno] [nvarchar](50) NOT NULL,
	[ehliyettarih] [nvarchar](50) NOT NULL,
	[ehliyetyer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_müsteri] PRIMARY KEY CLUSTERED 
(
	[müsteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[renk]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renk](
	[renk_id] [int] IDENTITY(1,1) NOT NULL,
	[renk] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_renk] PRIMARY KEY CLUSTERED 
(
	[renk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[seri]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seri](
	[seri_id] [int] IDENTITY(1,1) NOT NULL,
	[markaadi] [int] NOT NULL,
	[seriadi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TBLMODEL] PRIMARY KEY CLUSTERED 
(
	[seri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sözlesme]    Script Date: 13.05.2019 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sözlesme](
	[sölesme_id] [int] IDENTITY(1,1) NOT NULL,
	[tcno] [decimal](11, 0) NOT NULL,
	[adsoyad] [nvarchar](70) NOT NULL,
	[telefon] [decimal](11, 0) NOT NULL,
	[ehliyetno] [nvarchar](50) NOT NULL,
	[ehliyettarih] [nvarchar](50) NOT NULL,
	[ehliyetyer] [nvarchar](100) NOT NULL,
	[plaka] [nvarchar](10) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[seri] [nvarchar](50) NOT NULL,
	[yıl] [nvarchar](5) NOT NULL,
	[renk] [nvarchar](50) NOT NULL,
	[kiraücreti] [int] NOT NULL,
	[gün] [int] NOT NULL,
	[tutar] [int] NOT NULL,
	[ctarih] [nvarchar](50) NOT NULL,
	[dtarih] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sözlesme] PRIMARY KEY CLUSTERED 
(
	[sölesme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([admin_id], [adminkul], [adminsifre], [adminadi]) VALUES (1, N'mahox', N'1753', N'mahmut')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[arac] ON 

INSERT [dbo].[arac] ([arac_id], [plaka], [marka], [seri], [model], [renk], [kira], [durumu], [tarih], [resim], [yakıt]) VALUES (1, N'1313', 74, 1132, 2000, 2, CAST(123 AS Decimal(18, 0)), N'BOŞ', N'23.04.2019 20:40:53', N'C:\Users\hp\Documents\Visual Studio 2013\Projects\WindowsFormsApplication10\WindowsFormsApplication10\bin\Debug\image\asd.jpg', N'Benzin')
INSERT [dbo].[arac] ([arac_id], [plaka], [marka], [seri], [model], [renk], [kira], [durumu], [tarih], [resim], [yakıt]) VALUES (2, N'dddas', 1, 4, 2000, 2, CAST(123412 AS Decimal(18, 0)), N'DOLU', N'23.04.2019 20:48:23', N'C:\Users\hp\Documents\Visual Studio 2013\Projects\WindowsFormsApplication10\WindowsFormsApplication10\bin\Debug\image\asd.jpg', N'Benzin')
INSERT [dbo].[arac] ([arac_id], [plaka], [marka], [seri], [model], [renk], [kira], [durumu], [tarih], [resim], [yakıt]) VALUES (5, N'1111111', 1, 4, 2000, 2, CAST(12312 AS Decimal(18, 0)), N'DOLU', N'24.04.2019 16:29:14', N'C:\Users\hp\Documents\Visual Studio 2013\Projects\WindowsFormsApplication10\WindowsFormsApplication10\bin\Debug\image\adsasd.jpg', N'LPG')
SET IDENTITY_INSERT [dbo].[arac] OFF
SET IDENTITY_INSERT [dbo].[Ilceler] ON 

INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce]) VALUES (1, 1, N'Aladağ')
INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce]) VALUES (2, 1, N'Ceyhan')
INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce]) VALUES (3, 1, N'Çukurova')
GO
SET IDENTITY_INSERT [dbo].[Ilceler] OFF
SET IDENTITY_INSERT [dbo].[Iller] ON 

INSERT [dbo].[Iller] ([IlID], [Il]) VALUES (1, N'Adana')
INSERT [dbo].[Iller] ([IlID], [Il]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Iller] ([IlID], [Il]) VALUES (3, N'Afyonkarahisar')
SET IDENTITY_INSERT [dbo].[Iller] OFF
SET IDENTITY_INSERT [dbo].[markalar] ON 

INSERT [dbo].[markalar] ([marka_id], [markaadi]) VALUES (1, N'Alfa Romeo')
INSERT [dbo].[markalar] ([marka_id], [markaadi]) VALUES (2, N'Anadol')
INSERT [dbo].[markalar] ([marka_id], [markaadi]) VALUES (3, N'Aston Martin')
SET IDENTITY_INSERT [dbo].[markalar] OFF
INSERT [dbo].[modelyil] ([model_id], [modelyil]) VALUES (N'2000', 2000)
INSERT [dbo].[modelyil] ([model_id], [modelyil]) VALUES (N'2001', 2001)
INSERT [dbo].[modelyil] ([model_id], [modelyil]) VALUES (N'2002', 2002)
SET IDENTITY_INSERT [dbo].[müsteri] ON 

INSERT [dbo].[müsteri] ([müsteri_id], [tcno], [adsoyad], [telefon], [il], [ilce], [adres], [ehliyetno], [ehliyettarih], [ehliyetyer]) VALUES (2013, CAST(3242 AS Decimal(11, 0)), N'rew', CAST(324 AS Decimal(11, 0)), 1, 1, N'ERTYRHJTKUYLU', N'4', N'18 Nisan 2019 Perşembe', N'asasa')
INSERT [dbo].[müsteri] ([müsteri_id], [tcno], [adsoyad], [telefon], [il], [ilce], [adres], [ehliyetno], [ehliyettarih], [ehliyetyer]) VALUES (2015, CAST(15989186164 AS Decimal(11, 0)), N'Mahmut İs', CAST(5398503088 AS Decimal(11, 0)), 6, 58, N'sadasd', N'123456', N'12 Nisan 2019 Cuma', N'asdasd')
INSERT [dbo].[müsteri] ([müsteri_id], [tcno], [adsoyad], [telefon], [il], [ilce], [adres], [ehliyetno], [ehliyettarih], [ehliyetyer]) VALUES (3009, CAST(15989186164 AS Decimal(11, 0)), N'Mahmut İs', CAST(5398503088 AS Decimal(11, 0)), 3, 27, N'asdasd', N'21312', N'14 Mart 2019 Perşembe', N'DFGHF')
SET IDENTITY_INSERT [dbo].[müsteri] OFF
SET IDENTITY_INSERT [dbo].[renk] ON 

INSERT [dbo].[renk] ([renk_id], [renk]) VALUES (2, N'Altınsarısı')
INSERT [dbo].[renk] ([renk_id], [renk]) VALUES (6, N'Beyaz')
INSERT [dbo].[renk] ([renk_id], [renk]) VALUES (11, N'Ebruli')
SET IDENTITY_INSERT [dbo].[renk] OFF
SET IDENTITY_INSERT [dbo].[seri] ON 

INSERT [dbo].[seri] ([seri_id], [markaadi], [seriadi]) VALUES (1, 1, N'4C')
INSERT [dbo].[seri] ([seri_id], [markaadi], [seriadi]) VALUES (2, 1, N'33')
INSERT [dbo].[seri] ([seri_id], [markaadi], [seriadi]) VALUES (3, 1, N'75')
GO
SET IDENTITY_INSERT [dbo].[seri] OFF
SET IDENTITY_INSERT [dbo].[sözlesme] ON 

INSERT [dbo].[sözlesme] ([sölesme_id], [tcno], [adsoyad], [telefon], [ehliyetno], [ehliyettarih], [ehliyetyer], [plaka], [marka], [seri], [yıl], [renk], [kiraücreti], [gün], [tutar], [ctarih], [dtarih]) VALUES (1009, CAST(15989186164 AS Decimal(11, 0)), N'Mahmut İs', CAST(5398503088 AS Decimal(11, 0)), N'21312', N'14 Mart 2019 Perşembe', N'DFGHF', N'31mm312', N'Devrim', N'Devrim1', N'2000', N'Altınsarısı', 123, 25, 3075, N'1 Mayıs 2019 Çarşamba', N'26 Mayıs 2019 Pazar')
INSERT [dbo].[sözlesme] ([sölesme_id], [tcno], [adsoyad], [telefon], [ehliyetno], [ehliyettarih], [ehliyetyer], [plaka], [marka], [seri], [yıl], [renk], [kiraücreti], [gün], [tutar], [ctarih], [dtarih]) VALUES (1010, CAST(15989186164 AS Decimal(11, 0)), N'Mahmut İs', CAST(5398503088 AS Decimal(11, 0)), N'21312', N'14 Mart 2019 Perşembe', N'DFGHF', N'1222222', N'Alfa Romeo', N'145', N'2000', N'Altınsarısı', 121212, 29, 3515148, N'1 Mayıs 2019 Çarşamba', N'30 Mayıs 2019 Perşembe')
INSERT [dbo].[sözlesme] ([sölesme_id], [tcno], [adsoyad], [telefon], [ehliyetno], [ehliyettarih], [ehliyetyer], [plaka], [marka], [seri], [yıl], [renk], [kiraücreti], [gün], [tutar], [ctarih], [dtarih]) VALUES (1011, CAST(15989186164 AS Decimal(11, 0)), N'Mahmut İs', CAST(5398503088 AS Decimal(11, 0)), N'21312', N'14 Mart 2019 Perşembe', N'DFGHF', N'1112111', N'Alfa Romeo', N'145', N'2000', N'Altınsarısı', 32, 24, 700, N'1 Mayıs 2019 Çarşamba', N'25 Mayıs 2019 Cumartesi')
SET IDENTITY_INSERT [dbo].[sözlesme] OFF
ALTER TABLE [dbo].[arac]  WITH CHECK ADD  CONSTRAINT [FK_arac_markalar] FOREIGN KEY([marka])
REFERENCES [dbo].[markalar] ([marka_id])
GO
ALTER TABLE [dbo].[arac] CHECK CONSTRAINT [FK_arac_markalar]
GO
ALTER TABLE [dbo].[arac]  WITH CHECK ADD  CONSTRAINT [FK_arac_renk] FOREIGN KEY([renk])
REFERENCES [dbo].[renk] ([renk_id])
GO
ALTER TABLE [dbo].[arac] CHECK CONSTRAINT [FK_arac_renk]
GO
ALTER TABLE [dbo].[arac]  WITH CHECK ADD  CONSTRAINT [FK_arac_seri] FOREIGN KEY([marka])
REFERENCES [dbo].[seri] ([seri_id])
GO
ALTER TABLE [dbo].[arac] CHECK CONSTRAINT [FK_arac_seri]
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD FOREIGN KEY([IlID])
REFERENCES [dbo].[Iller] ([IlID])
GO
ALTER TABLE [dbo].[müsteri]  WITH CHECK ADD  CONSTRAINT [FK_müsteri_Ilceler] FOREIGN KEY([ilce])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[müsteri] CHECK CONSTRAINT [FK_müsteri_Ilceler]
GO
ALTER TABLE [dbo].[müsteri]  WITH CHECK ADD  CONSTRAINT [FK_müsteri_Iller] FOREIGN KEY([il])
REFERENCES [dbo].[Iller] ([IlID])
GO
ALTER TABLE [dbo].[müsteri] CHECK CONSTRAINT [FK_müsteri_Iller]
GO
